@model IEnumerable<SmakEmpAcc.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Список сотрудников</h2>

<table class="table"
       <thead>
           <tr>
               <th>Имя</th>
               <th>Возраст</th>
               <th>Должность</th>
               <th>Адрес</th>
               <th>Паспортные данные</th>
               <th>Телефон</th>
           </tr>
       </thead>
       <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Age)</td>
                        <td>@Html.DisplayFor(modelItem => item.Position)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>@Html.DisplayFor(modelItem => item.PassportData)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td> @Html.ActionLink("Изменить", "Edit", new {id = item.Id}) |
                                            @Html.ActionLink("Добавить", "Add", new {id = item.Id}) |
                                            @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                                        </td>
            </tr>
        }
    </tbody>
    </table>